<!-- app/views/application/show_book.html.erb -->

<html>
  <body>
 <a href="/list_books">back to books</a>
    <div class="book">

          <h1 class="title">
            <%= book.title %>
          </h1>
          <h2 class="author">by <%= book.author %></h2>
          <p class="summary">
            <%= book.summary %>
          </p>

          <small class="meta">
            <em class="ISBN" >ISBN number: <%= book.isbn %></em><br>
            <span class="in"> <%= book.in %>-</span>
          </small>
        <a href="/edit_book/<%= book.id %>">Edit book</a>
        <form method="post" action="/delete_book/<%= book.id %>" style='display: inline'>
            <input type="submit" value="Delete" />
        </form>
    </div>
    <br />
    <div>
      <form method="post" action="/create_review/<%= book.id %>">
        <label>Write your review</label>
        <textarea name="body"></textarea>
        <br />
        <label for="author">Name</label>
        <input id="author" name="author" type="text" />
        <br /> 
        <input type="submit" name="Write a review">
      </form>
    </div>
    <div class="reviews">
        <h3>reviews:</h3>
        <hr />
        <% reviews.each_with_index do |review, index| %>
          <div class="review">
            <small class="review_meta">
              <span class="review_author">#<%= index+1 %> by <%= review['author'] %> -</span>
              <em class="review_created_at"><%= review['created_at'] %></em>
            </small>
            <p class="review_body"><%= review['body'] %></p>
          </div>
          <hr />
        <% end %>
      </div>
 
  </body>
</html>