<!-- app/views/application/show_book.html.erb -->

<html>
  <body>

    <div class="book">

          <h1 class="title">
            <%= book['title'] %>
          </h1>
          <h2 class="author">by <%= book['author'] %></h2>
          <p class="summary">
            <%= book['summary'] %>
          </p>

          <small class="meta">
            <em class="ISBN" >ISBN number: <%= book['ISBN'] %></em><br>
            <span class="in"> <%= book['in'] %>-</span>
          </small>
        <a href="/edit_book/<%= book['id'] %>">Edit book</a>
        <form method="post" action="/delete_book/<%= book['id'] %>" style='display: inline'>
            <input type="submit" value="Delete" />
        </form>
    </div>
    <br />
  <a href="/list_books">back to books</a>
  </body>
</html>